body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid red;
    min-height: 97vh;
}

.start {
    display: block;
    margin: 20px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid red;
}

.weapons {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    width: 300px;
    border: 3px solid red;
    padding: 5px;
}

.weapons > button {
    width: 75px;
}

.players {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 3px solid red;
    min-width: 600px;
    min-height: 300px;
}

/* .human, .computer {
    padding: 50px;
    border: 3px solid red;
    margin: 10px;
    height: 50px;
    width: 50px;
} */