body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid red;
    min-height: 100vh;
}

.start {
    display: block;
    margin: 20px;
    border: 3px solid red;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid red;
}

.weapons {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    width: 200px;
    border: 3px solid red;
}

.players {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 3px solid red;
    max-width: 1000px;
}

.player {
    padding: 50px;
    border: 3px solid red;
    margin: 10px;
    height: 50px;
    width: 50px;
}